<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.MessageMapper">
    <insert id="storeMessage" parameterType="List">
        insert into message  (user_id,to_user_id,content,create_time,read_it) values
         <foreach collection="list" item="item" separator=",">
        (#{item.userId},#{item.toUserId},#{item.content},#{item.createTime},#{item.readIt})
    </foreach>
    </insert>
</mapper>